.elements{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  &__noise {
    background-image: url("../images/noise.png");
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__purpleLight {
    position: absolute;
    width: 259px;
    height: 259px;
    top: -154px;
    background: #833AB4;
    opacity: 0.5;
    filter: blur(196px);
    left: 45%;
    border-radius: 50%;
    @media (min-width: 320px) and (max-width: 480px) {
      left: 258px;
      top: 107px;
    }
  }
  &__purpleBall {
    position: absolute;
    width: 60px;
    height: 60px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
    border-radius: 50%;
    left: 60%;
    @media (min-width: 320px) and (max-width: 480px) {
      width: 40px;
      height: 40px;
      left: 296px;
      top: 236px;
    }

  }
  &__redBall{
    position: absolute;
    width: 83px;
    height: 83px;
    left: 519px;
    top: 83px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 50%;
    filter: blur(5px);
    left: 40%;
    @media (min-width: 320px) and (max-width: 480px) {
      width: 43px;
      height: 43px;
      left: 29px;
      top: 402px;
    }
  }
  &__redLight{
    position: absolute;
    width: 311px;
    height: 311px;
    left: -102px;
    top: 251px;
    background: #961A1A;
    opacity: 0.5;
    filter: blur(196px);
    border-radius: 50%;
    @media (min-width: 320px) and (max-width: 480px) {
      width: 211px;
      height: 210px;
      left: -55px;
      top: 241px;
    }
  }
}
